<ul class="nav navbar-nav navbar-right" 
    ng-controller="navbarAuthCtrl"
    ng-init="checkLoginStatus()">
    <li ng-if="currentUser">
        <p class="navbar-text">Hi {{ currentUser.name }}</p>
    </li>
    <li ng-if="currentUser">
        <button class="btn btn-default navbar-btn"
                ng-click="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </button>
    </li>
    <li ng-if="!currentUser">
        <button class="btn btn-default navbar-btn"
                ng-click="showLoginDialog()">
            <span class="glyphicon glyphicon-log-in"></span> Login
        </button>
    </li>
    <li ng-if="!currentUser">
        <button class="btn btn-default navbar-btn"
                ui-sref="signup">
            <span class="glyphicon glyphicon-pencil"></span> Sign up
        </button>
    </li>
</ul>
