<h2>Sign up</h2>

<form form-for="request" service="signupService"
      submit-complete="signupComplete()"
      submit-error="signupFailed(error)" novalidate>
    <text-field label="Name" attribute="name" placeholder="John"
                focused="clearError()" autofocus></text-field>
    <text-field label="Surname" attribute="surname" placeholder="Smith"
                focused="clearError()"></text-field>
    <radio-field label="Male" attribute="gender" value="0"></radio-field>
    <radio-field label="Female" attribute="gender" value="1"></radio-field>
    <date-picker-field label="Date of Birth" attribute="dateOfBirth"
                       options="datePickerOptions"></date-picker-field>
    <text-field label="Email" attribute="email" placeholder="johnsmith@example.com"
                type="email" focused="clearError()"></text-field>
    <text-field label="Contact Number" attribute="contactNumber"
                placeholder="+27353401427" type="tel" focused="clearError()"></text-field>
    <text-field label="Password" attribute="password"
                placeholder="T0p $3cret!" type="password" focused="clearError()"></text-field>
    <text-field label="Confirm password" attribute="password2"
                placeholder="Re-type your password" type="password" focused="clearError()"></text-field>
    <auto-complete-field label="Federation" attribute="federation" options="fideFederationList"
                         placeholder="South Africa" editable="false"></auto-complete-field>
    <text-field label="Union" attribute="union" placeholder="Gauteng Chess Union"
                focused="clearError()"></text-field>
    <text-field label="FIDE Rating" attribute="fideRating" type="number"
                placeholder="1800" focused="clearError()"></text-field>
    <select-field label="FIDE Title" attribute="fideTitle" options="fideTitleList"
                  placeholder="Select title" allow-blank></select-field>
    <text-field label="Federation Rating" attribute="federationRating" type="number"
                placeholder="2000" focused="clearError()"></text-field>
    <text-field label="Federation Title" attribute="federationTitle"
                placeholder="Provincial Master" focused="clearError()"></text-field>

    <div class="alert alert-danger" ng-show="signupError">
        Sign up failed ({{ signupError }}). Please try again.
    </div>

    <submit-button label="Create Account"></submit-button>
    <a class="btn btn-primary" href="#/">Cancel</a>
</form>
