<div class="modal-header">
    <h3 class="modal-title">Thanks!</h3>
</div>
<div class="modal-body">
    <p>
        you have successfully created your ChessRank account but before you can login we need to verify
        your email address.
    </p>
    <p>
        We have sent a confirmation email to {{ email }}. Please visit the URL in that email to confirm
        your email address and begin using your account.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
