<h2 class="text-center">{{ tournament.name }} - {{ section.name }}</h2>

<div class="row">
    <!-- Details -->
    <div class="col-md-6">
        <p class="h3"> Details
            <a ng-show="allowEdit()" class="padded-cell"
                ui-sref="a.tournaments.details.section.edit({ sectionId: section._id.$oid })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </p>

        <div class="row padded-row">
            <div class="col-md-5">Registration</div>
            <div ng-show="section.registrationManuallyClosed"
                    class="col-md-7">
                Closed on {{ section.registrationManuallyClosed.$date | date:'dd MMM yyyy' }}
            </div>
            <div ng-hide="section.registrationManuallyClosed"
                    class="col-md-7">
                {{ section.registrationStartDate.$date | date:'dd MMM yyyy' }} - {{ section.registrationEndDate.$date | date:'dd MMM yyyy' }}
                <button class="btn btn-xs btn-warning"
                        ng-show="allowCloseRegistration()"
                        style="margin-left: 10px;"
                        ng-click="closeRegistration()">
                    Close Registration
                </button>
            </div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Play System</div>
            <div class="col-md-7">{{ section.playSystem | playSystem }}</div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Time Controls</div>
            <div class="col-md-7">{{ section.timeControls | rmTransform:'timeControl' | rmJoin:', ' }}</div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Tie Breaks</div>
            <div class="col-md-7">{{ section.tieBreaks | rmTransform:'tieBreak' | rmJoin:', ' }}</div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Rounds</div>
            <div class="col-md-7">{{ section.rounds }}</div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Maximum No. Players</div>
            <div class="col-md-7">{{ section.maxPlayers }}</div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Chief Arbiter</div>
            <div class="col-md-7">{{ section.chiefArbiter }}</div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Registration Fee</div>
            <div class="col-md-7">
                <tournament-currency tournament="tournament"
                                        amount="section.registrationFee" />
            </div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Invitation only</div>
            <div class="col-md-7">
                <i ng-show="section.invitationOnly" class="glyphicon glyphicon-ok"></i>
                <i ng-hide="section.invitationOnly" class="glyphicon glyphicon-remove"></i>
            </div>
        </div>
        <div class="row padded-row">
            <div class="col-md-5">Provisional rating <small>(for unrated players)</small></div>
            <div class="col-md-7">{{ section.provisionalRating }}</div>
        </div>
    </div>

    <!-- Schedule -->
    <div class="col-md-6">
        <p class="h3">Schedule</p>
        <div class="row padded-row" ng-repeat="rd in section.roundData">
            <div class="col-md-2">Round {{ $index + 1 }}</div>
            <div class="col-md-4">{{ rd.startTime.$date | date:'dd MMM yyyy hh:mm a' }}</div>
            <div class="col-md-6">
                <!--<a ui-sref="a.tournaments.details.section.results({ roundNumber: $index + 1 })"
                    class="btn btn-xs btn-default"
                    ng-show="resultsAvailable($index)">
                    Results
                </a>-->
                <a ng-show="allowPairing($index)"
                    ng-click="pair($index)"
                    class="btn btn-xs btn-primary">
                    Pair
                </a>
                <a ng-show="allowCapture($index)"
                    ui-sref="a.tournaments.details.section.capture_round({ roundNumber: $index + 1 })"
                    class="btn btn-xs btn-warning">
                    Capture Results
                </a>
            </div>
        </div>
    </div>
</div>

<p class="h3" ng-hide="allRoundsComplete()">
    Confirmed Players
    <a ng-show="allowEdit()"
       ui-sref="a.tournaments.details.section.players({ sectionId: section._id.$oid })"
       class="padded-cell">
        <i class="glyphicon glyphicon-edit"></i>
    </a>
</p>

<p ng-hide="confirmedPlayers.length || allRoundsComplete()">There are currently no players confirmed registered for this section.</p>
<div class="table-responsive" ng-show="confirmedPlayers.length && !allRoundsComplete()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>DoB</th>
                <th>Federation</th>
                <th>Rating (FIDE)</th>
                <th>Rating (Fed)</th>
                <th>Title (FIDE)</th>
                <th>Title (Fed)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in confirmedPlayers">
                <td>{{ item.name + ' ' + item.surname }}</td>
                <td>{{ item.dateOfBirth.$date | date:'dd MMM yyyy' }}</td>
                <td><federation value="item.federation"></federation></td>
                <td>{{ item.fideRating || '-' }}</td>
                <td>{{ item.federationRating || '-' }}</td>
                <td>{{ (item.fideTitle | fideTitle) || '-' }}</td>
                <td>{{ item.federationTitle || '-' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h3 ng-show="allRoundsComplete()">Final Results</h3>

<div class="table-responsive" ng-if="allRoundsComplete()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rk</th>
                <th>SNo</th>
                <td>Player</td>
                <th>Fed</th>
                <th>Rating</th>
                <th ng-repeat="cp in confirmedPlayers">
                    {{ $index + 1 }}
                </th>
                <th>Score</th>
                <th>TB</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in rankedPlayers">
                <td>{{ $index + 1 }}</td>
                <td>{{ p.data.pairing_no }}</td>
                <td>{{ p.player.name }} {{ p.player.surname }}</td>
                <td><federation value="p.player.federation" flag-only="true"></federation></td>
                <td>{{ p.data.rating }}</td>
                <td ng-repeat="opp in confirmedPlayers">
                    {{ scoreOfFirstEncounter(p.data, $index) }}
                </td>
                <th>{{ p.data.score }}</th>
                <th>{{ p.data.tieBreakScore }}</th>
            </tr>
        </tbody>
    </table>
</div>