<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>DoB</th>
                <th>Federation</th>
                <th>Rating (FIDE)</th>
                <th>Rating (Fed)</th>
                <th>Title (FIDE)</th>
                <th>Title (Fed)</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in players" id="player_{{ item._id.$oid }}">
                <td>{{ item.name + ' ' + item.surname }}</td>
                <td>{{ item.dateOfBirth.$date | date }}</td>
                <td><federation value="item.federation"></federation></td>
                <td>{{ item.fideRating || '-' }}</td>
                <td>{{ item.federationRating || '-' }}</td>
                <td>{{ (item.fideTitle | fideTitle) || '-' }}</td>
                <td>{{ item.federationTitle || '-' }}</td>
                <td>
                    <a href="mailto:{{ item.emailAddress }}">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-xs btn-success"
                            ng-hide="confirmed() || !allowEditRegistration()"
                            ng-click="confirm()">
                        Confirm
                    </button>
                    <button class="btn btn-xs btn-warning"
                            ng-show="confirmed() && allowEditRegistration()"
                            ng-click="unconfirm()">
                        Unconfirm
                    </button>
                    <button class="btn btn-xs btn-danger"
                            ng-show="allowEditRegistration()"
                            ng-click="unregister()">
                        Unregister
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>