<h2 class="text-center">{{ tournament.name }}</h2>

<h3 class="v-middle">Details</h3>
<a ng-if="currentUser && currentUser.userId.$oid == tournament.ownerUserId.$oid"
   ui-sref="a.tournaments.details.edit({ tournamentId: tournament._id.$oid })"
   class="v-middle padded-cell">
    <i class="glyphicon glyphicon-edit"></i>
</a>
<div class="container">
    <div class="row padded-row">
        <div class="col-md-4">Location</div>
        <div class="col-md-8">{{ tournament.location }}</div>
    </div>
    <div class="row padded-row">
        <div class="col-md-4">Date</div>
        <div class="col-md-8">{{ tournament.startDate.$date | date }} - {{ tournament.endDate.$date | date }}</div>
    </div>
    <div class="row padded-row">
        <div class="col-md-4">Tournament Director</div>
        <div class="col-md-8"><user-link user-id="tournament.ownerUserId.$oid" /></div>
    </div>
    <div class="row padded-row">
        <div class="col-md-4">Status</div>
        <div class="col-md-8"><b>TODO</b></div>
    </div>
</div>

<h3>Sections</h3>
<p ng-hide="sections.length">This tournament does not yet contain any sections.</p>
<div class="table-responsive" ng-show="sections.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>System</th>
                <th>Rounds</th>
                <th>Time Controls</th>
                <th>Fee</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in sections">
                <td>{{ item.name }}</td>
                <td>{{ item.startDate.$date | date }}</td>
                <td>{{ item.endDate.$date | date }}</td>
                <td>{{ item.playSystem | playSystem }}</td>
                <td>{{ item.rounds }}</td>
                <td>{{ item.timeControls | rmTransform:'timeControl' | rmJoin:', ' }}</td>
                <td>
                    <tournament-currency tournament="tournament"
                                         amount="item.registrationFee" />
                </td>
                <td>
                    <a class="btn btn-xs btn-primary"
                       ui-sref="a.tournaments.details.section({ sectionId: item._id.$oid })">
                        Details
                    </a>
                    <button class="btn btn-xs btn-success"
                            popover="{{ registerPopover }}"
                            popover-trigger="focus"
                            ng-hide="registered(item) || currentUser.userId.$oid === item.ownerUserId.$oid"
                            ng-disabled="registrationClosed(item, sections)"
                            ng-click="register(item)">
                        Register
                    </button>
                    <button class="btn btn-xs btn-warning"
                            ng-show="registered(item)"
                            ng-disabled="registrationClosed(item)"
                            ng-click="unregister(item)">
                        Unregister
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>