<h2>{{ action }} Tournament</h2>

<form form-for="tournament"
      service="tournamentEditService"
      submit-complete="editComplete()"
      submit-error="editFailed(error)" novalidate>
    <text-field label="Name" 
                attribute="name"
                placeholder="My Tournament"
                focused="clearError()"
                autofocus></text-field>
    <text-field label="Location"
                attribute="location"
                placeholder="Somwhere"
                focused="clearError()"></text-field>
    <date-picker-field label="Start Date" 
                       attribute="startDate"
                       options="datePickerOptions"></date-picker-field>
    <date-picker-field label="End Date"
                       attribute="endDate"
                       options="datePickerOptions"></date-picker-field>
    <auto-complete-field label="Registration fee currency" 
                         attribute="currency" 
                         options="currencyList"
                         placeholder="South African rand" 
                         editable="false"></auto-complete-field>

    <h3>Sections</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>System</th>
                    <th>Rounds</th>
                    <th>Time Controls</th>
                    <th>Tie Breaks</th>
                    <th>Fee</th>
                    <th>
                        <a ng-if="action === 'Edit'"
                            ui-sref="a.tournaments.details.edit.add_section">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                        <a ng-if="action === 'Create'"
                           ui-sref="a.tournaments.add.add_section">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in sections" id="section_{{ item._id.$oid || item.fakeId }}">
                    <td>{{ item.name }}</td>
                    <td>{{ (item.startDate.$date || item.startDate) | date }}</td>
                    <td>{{ (item.endDate.$date || item.endDate) | date }}</td>
                    <td>{{ item.playSystem | playSystem }}</td>
                    <td>{{ item.rounds }}</td>
                    <td>{{ item.timeControls | rmTransform:'timeControl' | rmJoin:', ' }}</td>
                    <td>{{ item.tieBreaks | rmTransform:'tieBreak' | rmJoin:', ' }}</td>
                    <td>
                        <tournament-currency tournament="tournament"
                                             amount="item.registrationFee" />
                    </td>
                    <td>
                        <a ng-show="action === 'Edit'"
                           ui-sref="a.tournaments.details.section.edit({ sectionId: item._id.$oid })">
                            <i class="glyphicon glyphicon-edit" />
                        </a>
                        <a ng-show="action === 'Create'"
                           ui-sref="a.tournaments.add.edit_section({ sectionId: item.fakeId })">
                            <i class="glyphicon glyphicon-edit" />
                        </a>
                        <a href="" ng-click="confirmDeleteSection()">
                            <i class="glyphicon glyphicon-remove" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-danger" ng-show="editError">
        {{ action }} failed ({{ editError }}). Please try again.
    </div>

    <submit-button label="Save"></submit-button>
    <a class="btn btn-primary" ng-click="cancel()">Cancel</a>
</form>