<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Tournament Director</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in tournaments">
                <td>{{ item.name }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.startDate.$date | date:'dd MMM yyyy' }}</td>
                <td>{{ item.endDate.$date | date:'dd MMM yyyy' }}</td>
                <td><user-link user-id="item.ownerUserId.$oid" /></td>
                <td>
                    <a ui-sref="a.tournaments.details({ tournamentId: item._id.$oid })">
                        <i class="glyphicon glyphicon-list"></i>
                    </a>
                    <a ng-show="currentUser && currentUser.userId.$oid == item.ownerUserId.$oid"
                       ui-sref="a.tournaments.details.edit({ tournamentId: item._id.$oid })"
                       style="margin-left: 10px;">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>