<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Tournament Director</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in tournaments">
                <td>{{ item.name }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.startDate.$date | date }}</td>
                <td>{{ item.endDate.$date | date }}</td>
                <td><user-link user-id="item.ownerUserId.$oid" /></td>
                <td>
                    <a ui-sref="a.tournaments.details({ tournamentId: item._id.$oid })"
                       class="btn btn-xs btn-primary">Details</a>
                    <a ng-if="currentUser && currentUser.userId.$oid == item.ownerUserId.$oid"
                       ui-sref="a.tournaments.details.edit({ tournamentId: item._id.$oid })"
                       class="btn btn-xs btn-warning">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>