<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>

<form form-for="request" service="loginService"
      submit-complete="loginComplete()"
      submit-error="loginFailed(error)" novalidate>
    <div class="modal-body">
        <text-field label="Email" attribute="email" placeholder="johnsmith@example.com"
                    focused="clearErrors()" autofocus></text-field>
        <text-field label="Password" attribute="password" type="password" 
                    placeholder="Your password" focused="clearErrors()"></text-field>
        <checkbox-field label="Remember me" attribute="persistentCookie"></checkbox-field>

        <div class="alert alert-danger" ng-show="loginError">
            Login failed ({{ loginError }}). Please try again.
        </div>
        <div class="alert alert-warning" ng-show="request.overwriteExisting">
            It appears that you have previously logged in from another device
            or browser session. By clicking OK you will be overwriting your
            existing session. <small>(For security reasons you can only have one active session)</small>
        </div>
    </div>
    <div class="modal-footer">
        <submit-button label="Login"></submit-button>
        <button class="btn btn-primary"
                ng-click="cancel()">
            Cancel
        </button>
    </div>
</form>