<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>

<div class="modal-body">
    <form name="loginForm" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" class="form-control"
                   ng-model="request.email" placeholder="johnsmith@example.com" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control"
                   ng-model="request.password" placeholder="Your password" />
        </div>
        <div class="checkbox">
            <label>
                <input name="rememberMe" type="checkbox" ng-model="request.persistentCookie" /> Remember me <small>(for 7 days)</small>
            </label>
        </div>
        <div class="alert alert-danger" ng-show="loginError">
            Login failed ({{ loginError }}). Please try again.
        </div>
        <div class="alert alert-warning" ng-show="request.overwriteExisting">
            It appears that you have previously logged in from another device
            or browser session. By clicking OK you will be overwriting your
            existing session. <small>(For security reasons you can only have one active session)</small>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="submit(request)"
            ng-disabled="loginForm.$invalid">
        OK
    </button>
    <button class="btn btn-primary"
            ng-click="cancel()">Cancel</button>
</div>