<div class="modal-header">
    <h3 class="modal-title">Sign up</h3>
</div>

<div class="modal-body">
    <form name="signupForm" class="form-horizontal" novalidate>
        <div class="form-group">

            <label for="nameInput" class="col-xs-4 control-label">Name</label>
            <div class="col-xs-8">
                <input id="nameInput" type="text" class="form-control"
                       ng-model="request.name" placeholder="e.g. John" required />
            </div>
        </div>
        <div class="form-group">
            <label for="surnameInput" class="col-xs-4 control-label">Surname</label>
            <div class="col-xs-8">
                <input id="surnameInput" type="text" class="form-control"
                       ng-model="request.surname" placeholder="e.g. Smith" required />
            </div>
        </div>
        <div class="form-group">
            <label for="genderRadioOptions" class="col-xs-4 control-label">Gender</label>
            <div class="col-xs-8">
                <label class="radio-inline">
                    <input type="radio" name="genderRadioOptions" id="maleRadio" 
                           value="0" checked /> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="genderRadioOptions" id="femaleRadio" 
                           value="1" /> Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="emailInput" class="col-xs-4 control-label">Email</label>
            <div class="col-xs-8">
                <input id="emailInput" type="email" class="form-control"
                       ng-model="request.email" placeholder="e.g. bob@example.com" required />
            </div>
        </div>
        <div class="form-group">
            <label for="titleSelect" class="col-xs-4 control-label">Title</label>
            <div class="col-xs-8">
                <select id="titleSelect" class="form-control">
                    <option>NM</option>
                    <option>CM</option>
                    <option>FM</option>
                    <option>IM</option>
                    <option>GM</option>
                    <option>WNM</option>
                    <option>WCM</option>
                    <option>WFM</option>
                    <option>WIM</option>
                    <option>WGM</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="contactNumberInput" class="col-xs-4 control-label">Contact Number</label>
            <div class="col-xs-8">
                <input id="contactNumberInput" type="tel" class="form-control"
                       ng-model="request.contactNumber" placeholder="e.g. +27726164485" required />
            </div>
        </div>
        <div class="form-group">
            <label for="federationSelect" class="col-xs-4 control-label">Federation</label>
            <div class="col-xs-8">
                <select id="federationSelect" class="form-control">
                    <option>RUS</option>
                    <option>GER</option>
                    <option>FRA</option>
                    <option>ITA</option>
                    <option>ZAR</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="unionInput" class="col-xs-4 control-label">Union</label>
            <div class="col-xs-8">
                <input id="unionInput" type="text" class="form-control"
                       ng-model="request.union" placeholder="e.g. Gauteng Chess Union" />
            </div>
        </div>
        <div class="form-group">
            <label for="fideRatingInput" class="col-xs-4 control-label">FIDE Rating</label>
            <div class="col-xs-8">
                <input id="fideRatingInput" type="number" class="form-control"
                       ng-model="request.fideRating" placeholder="e.g. 1450" />
            </div>
        </div>
        <div class="form-group">
            <label for="fedRatingInput" class="col-xs-4 control-label">Fed. Rating</label>
            <div class="col-xs-8">
                <input id="fedRatingInput" type="number" class="form-control"
                       ng-model="request.federationRating" placeholder="e.g. 1600" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="submit(request)"
            ng-disabled="signupForm.$invalid">
        Create Account
    </button>
    <button class="btn btn-primary"
            ng-click="cancel()">
        Cancel
    </button>
</div>
