<div class="modal-header">
    <h3 class="modal-title">Sign up</h3>
</div>

<div class="modal-body">
    <form name="signupForm" class="form-horizontal" novalidate>
        <div class="form-group">

            <label for="nameInput" class="col-xs-4 control-label">Name</label>
            <div class="col-xs-8">
                <input id="nameInput" type="text" class="form-control"
                       ng-model="request.name" placeholder="John" ng-required="true" />
            </div>
        </div>
        <div class="form-group">
            <label for="surnameInput" class="col-xs-4 control-label">Surname</label>
            <div class="col-xs-8">
                <input id="surnameInput" type="text" class="form-control"
                       ng-model="request.surname" placeholder="Smith" ng-required="true" />
            </div>
        </div>
        <div class="form-group">
            <label for="genderRadioOptions" class="col-xs-4 control-label">Gender</label>
            <div class="col-xs-8">
                <label class="radio-inline">
                    <input type="radio" value="0" ng-model="request.gender" ng-checked="true" /> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" value="1" ng-model="request.gender" /> Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="birthInput" class="col-xs-4 control-label">Date of Birth</label>
            <div class="col-xs-8">
                <input kendo-date-picker id="birthInput" k-ng-model="request.dateOfBirth" 
                       k-options="datePickerOptions" ng-required="true" />
            </div>
        </div>
        <div class="form-group">
            <label for="emailInput" class="col-xs-4 control-label">Email</label>
            <div class="col-xs-8">
                <input id="emailInput" type="email" class="form-control"
                       ng-model="request.email" placeholder="johnsmith@example.com" ng-required="true" />
            </div>
        </div>
        <div class="form-group">
            <label for="contactNumberInput" class="col-xs-4 control-label">Contact Number</label>
            <div class="col-xs-8">
                <input id="contactNumberInput" type="tel" class="form-control"
                       ng-model="request.contactNumber" placeholder="+27726164485" ng-required="true" />
            </div>
        </div>
        <div class="form-group">
            <label for="federationInput" class="col-xs-4 control-label">Federation</label>
            <div class="col-xs-8">
                <input id="federationInput" type="text" class="form-control"
                       ng-model="request.federation" placeholder="South Africa"
                       typeahead="fed as fed.name for fed in findFederation($viewValue)"
                       typeahead-wait-ms="500" typeahead-min-length="3"
                       typeahead-editable="false" />
            </div>
        </div>
        <div class="form-group">
            <label for="unionInput" class="col-xs-4 control-label">Union</label>
            <div class="col-xs-8">
                <input id="unionInput" type="text" class="form-control"
                       ng-model="request.union" placeholder="Gauteng Chess Union" />
            </div>
        </div>
        <div class="form-group">
            <label for="fideRatingInput" class="col-xs-4 control-label">FIDE Rating</label>
            <div class="col-xs-8">
                <input id="fideRatingInput" type="number" class="form-control"
                       ng-model="request.fideRating" placeholder="1800" />
            </div>
        </div>
        <div class="form-group">
            <label for="fideTitleSelect" class="col-xs-4 control-label">FIDE Title</label>
            <div class="col-xs-8">
                <select id="fideTitleSelect" class="form-control"
                        ng-model="request.fideTitle"
                        ng-options="item for item in titles">
                    <option value="">-- Select title --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="fedRatingInput" class="col-xs-4 control-label">Fed. Rating</label>
            <div class="col-xs-8">
                <input id="fedRatingInput" type="number" class="form-control"
                       ng-model="request.federationRating" placeholder="2000" />
            </div>
        </div>
        <div class="form-group">
            <label for="fedTitleInput" class="col-xs-4 control-label">Fed. Title</label>
            <div class="col-xs-8">
                <input id="fedTitleInput" type="text" class="form-control"
                       ng-model="request.fedTitle" placeholder="Provincial Master" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="submit(request)"
            ng-disabled="signupForm.$invalid">
        Create Account
    </button>
    <button class="btn btn-primary"
            ng-click="cancel()">
        Cancel
    </button>
</div>
