<div class="form-group"
     ng-class="{disabled: disable || model.disabled, 'has-error': model.error}">
    <field-label ng-if="label"
                 label="{{ label }}"
                 help="{{ help }}"
                 required="{{ model.required }}"></field-label>

    <field-error error="model.error"></field-error>

    <input type="text"
           class="form-control"
           placeholder="{{ placeholder }}"
           ng-model="model.bindable"
           typeahead="opt as opt.name for opt in options | filter:{name:$viewValue}"
           typeahead-editable="editable"
           ng-disabled="disable || model.disabled" />
</div>