<div class="form-group"
     ng-class="{disabled: disable || model.disabled, 'has-error': model.error}">
    <field-label ng-if="label"
                 label="{{ label }}"
                 help="{{ help }}"
                 required="{{ model.required }}">
    </field-label>

    <field-error error="model.error"></field-error>

    <input ng-if="time"
           kendo-date-time-picker
           k-ng-model="model.bindable"
           k-options="options"
           ng-disabled="disable || model.disabled" />

    <input ng-if="!time"
           kendo-date-picker
           k-ng-model="model.bindable"
           k-options="options"
           ng-disabled="disable || model.disabled" />
</div>