body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-logo {
    height: 100%;
    margin-right: 5px;
    margin-top: -5px;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #dddddd;
 }

.padded-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-group .k-widget,
.form-group .k-textbox {
    width: 100%;
}

.nav>li>button {
    margin-left: 5px;
}
