<!DOCTYPE html>
<html lang="en" ng-app="chessRank">
    <head>
        <meta charset="utf-8">
        <title>ChessRank: The Chess Tournament Organizer</title>
        <link rel="stylesheet" href="{{ static_url('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ static_url('bower_components/kendo-ui-core/styles/kendo.common-bootstrap.core.min.css') }}" />
        <link rel="stylesheet" href="{{ static_url('bower_components/kendo-ui-core/styles/kendo.bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ static_url('bower_components/angularjs-toaster/toaster.css') }}" />
        <!--<link rel="stylesheet" href="{{ static_url('style/kendo-bootstrap.css') }}" />-->
        <link rel="stylesheet" href="{{ static_url('style/custom.css') }}" />
    </head>
    <body>
        <div class="container">
            <navbar></navbar>
            <div ui-view></div>
        </div>
        
        <script src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ static_url('bower_components/angular/angular.js') }}"></script>
        <script src="{{ static_url('bower_components/angular-resource/angular-resource.min.js') }}"></script>
        <script src="{{ static_url('bower_components/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
        <script src="{{ static_url('bower_components/angular-breadcrumb/release/angular-breadcrumb.min.js') }}"></script>
        <script src="{{ static_url('bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
        <script src="{{ static_url('bower_components/angular-form-for/dist/form-for.min.js') }}"></script>
        <script src="{{ static_url('bower_components/angular-form-for/dist/form-for.bootstrap-templates.js') }}"></script>
        <script src="{{ static_url('bower_components/kendo-ui-core/js/kendo.ui.core.min.js') }}"></script>
        <script src="{{ static_url('bower_components/moment/min/moment.min.js') }}"></script>
        <script src="{{ static_url('bower_components/sprintfjs/sprintf.js') }}"></script>
        <script src="{{ static_url('bower_components/angular-animate/angular-animate.min.js') }}"></script>
        <script src="{{ static_url('bower_components/angularjs-toaster/toaster.js') }}"></script>
        <script src="{{ static_url('bower_components/underscore/underscore-min.js') }}"></script>

        <script src="{{ static_url('util/globals.js') }}"></script>
        <script src="{{ static_url('app.js') }}"></script>
        <script src="{{ static_url('controllers/home.js') }}"></script>
        <script src="{{ static_url('controllers/navbar.js') }}"></script>
        <script src="{{ static_url('controllers/auth/login.js') }}"></script>
        <script src="{{ static_url('controllers/auth/signup.js') }}"></script>
        <script src="{{ static_url('controllers/tournament/list.js') }}"></script>
        <script src="{{ static_url('controllers/tournament/details.js') }}"></script>
        <script src="{{ static_url('controllers/tournament/edit.js') }}"></script>
        <script src="{{ static_url('controllers/tournament/section/edit.js') }}"></script>
        <script src="{{ static_url('services/auth.js') }}"></script>
        <script src="{{ static_url('services/lookups.js') }}"></script>
        <script src="{{ static_url('services/player.js') }}"></script>
        <script src="{{ static_url('services/tournament.js') }}"></script>
        <script src="{{ static_url('services/user.js') }}"></script>
        <script src="{{ static_url('services/section.js') }}"></script>
        <script src="{{ static_url('filters/section.js') }}"></script>
        <script src="{{ static_url('directives/tournament.js') }}"></script>
        <script src="{{ static_url('directives/navbar.js') }}"></script>
        <script src="{{ static_url('directives/form.js') }}"></script>
        <script src="{{ static_url('directives/user.js') }}"></script>
        <script src="{{ static_url('util/constants.js') }}"></script>
        <script src="{{ static_url('rmUtils/filters.js') }}"></script>
    </body>
</html>