<div style="margin-bottom: 20px;">
    <button ng-if="currentUser"
            class="btn btn-default"
            ui-sref="a.tournaments.add">
        <span class="glyphicon glyphicon-file"></span> Create Tournament
    </button>
</div>

<accordion close-others="false">
    <accordion-group heading="Current Tournaments" is-open="tournamentOptions.showCurrent">
        <p ng-hide="currentTournaments.length">There are no tournaments in progress.</p>
        <tournament-list ng-show="currentTournaments.length" items="currentTournaments" />
    </accordion-group>

    <accordion-group heading="Upcoming Tournaments" is-open="tournamentOptions.showFuture">
        <p ng-hide="futureTournaments.length">There are no upcoming tournaments.</p>
        <tournament-list ng-show="futureTournaments.length" items="futureTournaments" />
    </accordion-group>

    <accordion-group heading="Recently Completed Tournaments" is-open="tournamentOptions.showRecent">
        <p ng-hide="recentTournaments.length">No tournaments have been played recently.</p>
        <tournament-list ng-show="recentTournaments.length" items="recentTournaments" />
    </accordion-group>
</accordion>